%section.register.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for @user, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-6" do |f|
        %header
          %h1 Register
          = f.alert_message "Please fix the errors below.", error_summary: false
        %fieldset
          = f.email_field :email, label: "Email Address"
          = f.password_field :password, help: "Must be at least 6 characters long"
          = f.text_field :fullname, label: "Full Name"
          = f.submit "Sign Up", class: 'btn btn-default'
