%section#top-header.row
  %h1.col-md-2
    = link_to "MyFLiX", root_path
  %ul.col-md-3.clearfix
    %li= link_to "Videos", videos_path
    %li= link_to "My Queue"
    %li= link_to "People"
  = form_tag(search_videos_path, method: :get, enforce_utf8: false, class: 'col-md-5 navbar-form') do
    .form-group
      = text_field_tag 'query', nil, placeholder: 'Search for videos here', class: 'form-control'
    = button_tag 'Search',name: nil, class: 'btn btn-default'
  - if logged_in?
    #user_links.pull-right
      %ul
        %li.dropdown
          %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
            = "Welcome, #{current_user.fullname}"
            %b.caret
          %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
            %li
              %a(href="#") Account
              %a(href="#") Plan and Billing
              = link_to "Sign out", sign_out_path, method: :delete
